.px {
  font-size: 36px;
}

.percent-container {
  width: 400px;
  height: 400px;
  background: darkcyan;
}

.percent {
  width: 50%;
  height: 50%;
  background: paleturquoise;
}

.vw {
  width: 50vw;
  height: 200px;
  background: plum;
}

.vh {
  width: 200px;
  height: 50vh;
  background: lightskyblue;
}

.container {
  background: gold;
  width: 600px;
  height: 600px;
  font-size: 18px;
}

.em-container {
  font-size: 2em;
  background: coral;
}

em {
  font-size: 2em;
}

.rem-container {
  font-size: 2rem;
  background: mediumseagreen;
}

rem {
  font-size: 2rem;
}
