@media screen and (max-width: 900px) {
  nav {
    display: none;
  }

  section {
    width: 269px;
    display: block;

    margin: 58px auto 47px;
    text-align: center;
  }

  h1 {
    font-size: 36px;
    line-height: 52px;
  }

  p {
    font-size: 14px;
    line-height: 24px;
  }

  img {
    display: block;
    position: static;
    width: 271px;
    margin: 92px auto 0;
  }

  .backdrop {
    width: 100vw;
    height: 58vh;
    min-height: initial;

    top: initial;
    left: 0;
    bottom: 0;
  }
}
