* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  height: calc(100vh - 70px);
  background-color: black;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
}

.page-item {
  padding: 15px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

header {
  background-color: #f55;
  grid-column: 1 / 4;
}

main {
  background-color: limegreen;
}

aside {
  background-color: mediumblue;
}

footer {
  background-color: blueviolet;
  grid-column: 1 / 4;
}

nav {
  background-color: #ff9c1d;
  grid-row: 2 / 3;
}
