body {
  color: #282a36;
  font-family: sans-serif;
}

h2 {
  width: fit-content;
  padding: 10px 20px;
  background: violet;
  border-radius: 10px;
}

button {
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
}
