* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  margin: 10px;
}

h2 {
  margin: 20px 10px 0;
}

h3 {
  margin: 40px 10px 10px;
}

.container {
  width: 500px;
  height: 500px;
  margin: 10px;
  border-radius: 5px;
  border: 4px solid #2dd99d;

  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.stretch {
  align-items: stretch;
}

.flex-start {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.center {
  align-items: center;
}

.box {
  min-width: 100px;
  min-height: 100px;
  margin: 10px;

  border-radius: 5px;
  border: 4px solid #2f0250;

  background-color: #c9b7fc;
  color: #2f0250;

  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
