.px {
  font-size: 36px;
}

.percent-container {
  width: 200px;
  height: 200px;
  background: darkcyan;
}

.percent {
  width: 50%;
  height: 50%;
  background: turquoise;
}

.vw {
  width: 50vw;
  height: 200px;
  background: #ff97ca;
}

.vh {
  width: 200px;
  height: 50vh;
  background: cornflowerblue;
}

.container {
  background: pink;
  width: 500px;
  height: 500px;
  font-size: 18px;
}

.em-container {
  font-size: 2em;
  background: coral;
}

.em {
  font-size: 2em;
}

.rem-container {
  font-size: 2rem;
  background: mediumseagreen;
}

.rem {
  font-size: 2rem;
}
