* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  margin: 10px;
}

h2 {
  margin: 20px 10px 0;
}

h3 {
  margin: 40px 10px 10px;
}

.container {
  margin: 10px;
  border-radius: 5px;
  border: 4px solid #2dd99d;

  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 400px;
  height: 600px;
  flex-direction: row;
}

.column {
  width: 600px;
  height: 400px;
  flex-direction: column;
}

.flex-start {
  align-content: flex-start;
}

.flex-end {
  align-content: flex-end;
}

.center {
  align-content: center;
}

.space-between {
  align-content: space-between;
}

.space-around {
  align-content: space-around;
}

.space-evenly {
  align-content: space-evenly;
}
.box {
  width: 100px;
  height: 100px;
  margin: 10px;

  border-radius: 5px;
  border: 4px solid #2f0250;

  background-color: #c9b7fc;
  color: #2f0250;

  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
