body {
  color: #282a36;
  font-family: sans-serif;
}

input {
  display: block;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 1rem;
  cursor: pointer;
}

p {
  width: fit-content;
  padding: 10px 20px;
  background: violet;
  border-radius: 10px;

  font-size: 1.25rem;
  font-weight: bold;
}
